/*.col-md-6 {
    
}*/
.container{
    background-color: brown;
    max-width: 960px;
    line-height-step: 960px;
}
*{
    background-color: brown;
}
#barva{
    color: white;
}
#earlyaccess {
    color: black;
    font-weight: bolder;
}
